.item a.active{
    border: 1px solid #23BE0A;
    color: #23BE0A;
}
.item a{
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn a.active{
    background-color: #23BE0A;
    color: white;
    border-radius: 8px;
}
@media screen and (max-width: 756px) {
    .item a{
        padding: 6px 10px;
    }
    
}
